---
layout: default
title: Home
---

<div id="content">
    <div id="header">
        <h1>Mark Dunne</h1>
        <p>Tidbits and Binary Sonnets</p>
    </div>

    <hr />

    <ul>
        <li><a href="mailto:markdunne02@gmail.com">Contact</a></li>
        <li>
            <!--             <a href="/public/mark-dunne-stock-market-prediction.pdf">
                Undergraduate Thesis - On Stock Market Prediction and Machine Learning
            </a> -->
        </li>
        <li>
            <a href="/public/cold_spring_harbor_poster.pdf">
                Cold Spring Harbor Laboratory Poster - Evaluating Predictors of CRISPR SpCas9 guide
                RNA performance.
            </a>
        </li>
    </ul>

    <hr />

    <h2>Stuff I've made</h2>

    <ul>
        <li>
            <a href="https://bgg-filter.streamlit.app/">2024 - A tool to filter board games on Boardgames Geek.</a>
        </li>
        <li>
            <a href="https://mytri.pages.dev/">2024 - MyTri - A simple tool for figuring out triathlon race timings.</a>
        </li>

        <li>
            <a href="https://cinemap.fly.dev/">2023 - Cinemap - A map of movie showtimes in and around London.</a>
        </li>
        <li>
            <a href="https://liver-meeting-abstracts.streamlit.app/"> 2023 - Liver Meeting Abstracts - A tool for
                exploring the abstracts of the Liver Meeting 2023 (Favour for a friend)</a>
        </li>
        <li>
            <a href="https://optispoons.fly.dev/">2022 - Optispoons - A tool for finding the most central
                wetherspoons</a>
        </li>
        <li>
            <a href="https://suguru-solver.fly.dev/">2022 - https://suguru-solver.fly.dev/ - A tool for solving Suguru puzzles</a>
        </li>
        
        {% for post in site.posts %} {% if post.is_experiment == true %}
        <li>
            <a href="{{ post.url }}">
                {{ post.date | date_to_string }} - {{ post.title }}
            </a>
        </li>
        {% endif %} {% endfor %}
    </ul>

    <h2>Posts</h2>

    <ul>
        {% for post in site.posts %} {% if post.is_experiment == false %}
        <li>
            <a href="{{ post.url }}">
                {{ post.date | date_to_string }} - {{ post.title }}
            </a>
        </li>
        {% endif %} {% endfor %}
    </ul>
</div>
