---
layout: default
title: Home
---

<div id="content">
    <div id="header">
        <h1>Mark Dunne</h1>
        <p>Tidbits and Binary Sonnets</p>
    </div>

    <hr />

    <ul>
        <li>
            <a id="contact" href="#">Contact</a>
            <script>
                (function() {
                    var a = document.getElementById('contact');
                    var u = 'markdunne02'; var d = 'gmail.com';
                    a.href = 'mailto:' + u + '@' + d;
                })();
            </script>
        </li>
    </ul>

    <hr />

    <h2>Stuff I've made</h2>

    <ul>
        <li>
            <a href="https://mytri.pages.dev/">2024 - MyTri - A simple tool for figuring out triathlon race timings.</a>
        </li>

        {% for post in site.posts %} {% if post.is_experiment == true and post.slug != "Whos-That-Airplane" %}
        <li>
            <a href="{{ post.url }}">
                {{ post.date | date_to_string }} - {{ post.title }}
            </a>
        </li>
        {% endif %} {% endfor %}
    </ul>

    <h2>Posts</h2>

    <ul>
        {% for post in site.posts %} {% if post.is_experiment == false %}
        <li>
            <a href="{{ post.url }}">
                {{ post.date | date_to_string }} - {{ post.title }}
            </a>
            {% if post.slug == "nlp-with-llms" %}<em>(outdated)</em>{% endif %}
        </li>
        {% endif %} {% endfor %}
    </ul>

    <h2>Archive</h2>
    <p><em>No longer running</em></p>

    <ul>
        <li>2024 - A tool to filter board games on BoardGameGeek.</li>
        <li>2023 - Cinemap - A map of movie showtimes in and around London.</li>
        <li>2023 - Liver Meeting Abstracts - A tool for exploring the abstracts of the Liver Meeting 2023.</li>
        <li>2022 - Optispoons - A tool for finding the most central Wetherspoons.</li>
        <li>2022 - Suguru Solver - A tool for solving Suguru puzzles.</li>
    </ul>
</div>
